@model IEnumerable<Pistoneando.Models.Noticia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva noticia +", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenPortada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCorta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionLarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenPortada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionLarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
